<div class="ui segment container">
  <img class="ui small centered  image" src="/assets/images/DigitalPanda.png">

  <h1 align="center">Students Records</h1>

  {{outlet}}

  <footer>
    <div class="ui violet inverted grid segment">
      <div class="thirteen wide column">
        © Copyright - Digital Panda
      </div>
      <div class="three wide column">
        <img class="ui right aligned container tiny image" src="/assets/images/UWO Stacked_Rev.png">
      </div>
    </div>
  </footer>

</div>
