<div class="ui inverted menu">
  <a class="item" {{action 'save'}}>
    <i class="save icon"></i>
    Save
  </a>
  <a class="item">
    <i class="undo icon"></i>
    Undo
  </a>
  <a class="item">
    <i class="step backward icon"></i>
    First
  </a>
  <a class="item">
    <i class="caret left icon"></i>
    Previous Record
  </a>
  <a class="item">
    <i class="caret right icon"></i>
    Next Record
  </a>
  <a class="item">
    <i class="step forward icon"></i>
    Last Record
  </a>
  <a class="item">
    <i class="content icon"></i>
    {{#link-to 'all'}}All Records{{/link-to}}
  </a>
  <a class="item">
    <i class="search icon"></i>
    {{#link-to 'find'}}Find Record{{/link-to}}
  </a>
  <a class="item">
    <i class="help icon"></i>
    {{#link-to 'help'}}Help{{/link-to}}
  </a>
</div>
