<h2>WE Adjudication</h2>
<P>
  The main goal of WE Adjudication is to automate the adjudication process performed in the Faculty of Engineering at
  Western University.
  <br/><br/>WE Adjudication automatically assesses each student's eligibility to graduate, remain in their program, or
  progress at Western.  Students' records are maintained in a centralized database.  This application was developed by
  Digital Panda for the 2016/2017 SE3350B course.  It addresses the requirements provided by the Undergraduate Services
  office at the Faculty of Engineering.
</P>
<h2>Digital Panda</h2>
<p>
  Digital Panda is a team of 5 third-year students in the Software Engineering program at Western University.
</p>
{{show-logo}}
