<div class="ui modal">
  <div class="header">Add a Program Record</div>
  <div class="content">
    <div class="ui form">
      <div class="inline field">

      </div>
    </div>
    <div class="actions">
      <br>
      <div class="ui positive button">Save</div>
      <div class="ui negative basic button" {{action "close"}}>Cancel</div>
    </div>

  </div>
</div>