<div class="ui modal">
  <div class="header">Add a Course</div>
  <div class="content">
      <div class="ui form">
           <!-- <div class="inline field">
    <label>Scholarship/Award ID</label>
      {{input size="10" type="text" value = recipient}}
  </div> -->

  <div class="inline field">
    <label>Note</label>
      {{textarea cols="6" rows="6" value = newnote}}
  </div>         
    </div>
<div class="actions">
        <br>
        <div class="ui positive button" {{action "saveAward"}}>Save</div>
        <!-- <div class="ui negative basic button" {{action "close"}}>Close</div> -->
</div>

  </div>
  </div>
