<div class="ui modal">
  <div class="header">Search for a student number</div>
  <div class="content">
    <label>Student Number</label>
    <div class="ui input">
      {{input size="10" type="text" value=studentID}}
    </div>
  </div>

  <div class="actions">
    <div class="ui negative button" {{action "close"}}>Close</div>
    <div class="ui positive button" {{action "find"}}>Find</div>
  </div>

</div>


