<h1>Import Student's Records</h1>

<input type="file" id="excelSheet">
<button class="ui blue button" {{action 'uploadFile'}}>Upload</button>

<div class="ui segment">
	<h3>Upload file's in the following order with the correct name:</h3>
	<ol>
		<li>termcodes.xlsx</li>
		<li>genders.xlsx</li>
		<li>residencies.xlsx</li>
		<li>UndergraduateCourses.xlsx</li>
	</ol>
	<p>***Files must be of type .xlsx***</p>
</div>