<div class="inline field">
  <label>Plan</label>
  <select onchange={{action 'selectPlan' value="target.value"}}>
    {{#each planModel as |planChoice|}}
      <option value={{planChoice.id}}>{{planChoice.name}}</option>
    {{/each}}
  </select>
</div>
<br>
