<div class="ui form">
  <div class="inline field">
    <label>Note</label>
      {{textarea cols="6" rows="6" value = award.note}}  
  </div>
  <br>
  <div class="ui negative button" {{action "deleteAward"}}>Delete Scholarship/Award</div>
</div>