<div class="ui form">
  <div class="inline field">
    <!-- <label>Scholarship/Award ID</label>
      {{input size="10" type="text" value = recipient}}
  </div> -->

  <div class="inline field">
    <label>Note</label>
      {{textarea cols="6" rows="6" value = note}}
  </div>
</div>
</div>